.collapsable{
    overflow: hidden;
    p, small {
        display: block;
    }
}

.patient{
    .panel-heading{
        padding: 0 !important;
        a{
            padding: 10px !important;
            width: 100% !important;
            display: block !important;
            cursor: pointer !important;
        }
    }

    .patientCard{
        margin: 20px 0;
        padding: 10px;
        vertical-align: top;
        box-shadow: 0 0 7px #000;
        border-radius: 0 !important;
        .panel-heading{
            padding: 0 !important;
            cursor: pointer;
            a{
                padding: 10px !important;
                width: 100% !important;
                display: block !important;
                cursor: pointer !important;
            }
        }

        .cardTitle{
            font-size: 18px;
            font-weight: bold;
            color: rgba(0,0,0,0.6);
            margin: 10px 0 10px 40%;
        }
        .img{
            display: inline-block;
            vertical-align: top;
            width: calc(40% - 40px);
            margin: 20px;
            border: solid 5px #fff;
            box-sizing: border-box;
            box-shadow: 0 0 2px rgba(0,0,0,0.4);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            height: 400px;
            background-image: url(/johndoe.jpg);
            transition: height 0.2s;
            @media(max-width: 900px){
                height: 300px;
            }
            @media(max-width: 700px){
                width: 0;
                box-shadow: none;
                margin: 0;
                height: 0;
            }
        }
        .info{
            display: inline-block;
            vertical-align: top;
            width: 60%;
            @media(max-width: 700px){
                display: block;
                width: 100%;
            }
        }
    }
}

.floatingBtn{
    color: white;
    font-size: 50px;
    padding-left: 15px;
    height: 60px;
    width: 60px;
    background-color: red;
    line-height: 50px;
    border-radius: 100%;
    display: inline-block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: 3px 2px 12px rgba(0,0,0,0.6);
    cursor: pointer;
}


.sugCard{
    margin: 20px 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.7);
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    &:hover{
        transform: scale(1.01);
        box-shadow: 0 0 6px rgba(0,0,0,0.7);
    }
}
